.nav-link ::before, .nav-item ::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: black;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link :hover ::before, .nav-link.active ::before, .nav-item :hover ::before{
    width: 100%;
    visibility: visible;
}